body {
    font-style: normal;
    font-weight: normal; 
}

.layout-center{
    max-width: 1440px;
    margin: 0 auto;
}

/*______________HEADER________________*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    max-height: 95px;
    
}


.form-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.logo{
    padding:0;
    margin: 30px 1px 29px 44px;
}


.search-btn, .mic-btn, .apps, .notification, .user-account, ul.nav-list1 li, ul.nav-list2 li  {
    display: flex;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border:transparent;
    cursor: pointer;
}


.search-form{
    display: flex; 
    background:#F8F8F8;
    border-radius: 24px;
    max-width: 556px;
    height: 48px;
    
}
.search-btn{
    border-radius: 50px;
    width: 36px;
    height: 36px;
    margin: 6px 7px 6px 0;
}

.search-input{
    
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.2px;
    background-color: transparent;
    border:none;
    margin: 13px 226px 13px 24px;
    width:226px;
    height: 22px;
    font-family: 'Lato', sans-serif;
    outline: none;
}


.mic-btn{ 
    
    width:48px;
    height: 48px;
    border-radius: 24px;
    margin-left:36px;
}

.user{
    width:150px;
    height: 50px;
    display: flex;
    justify-content: center;
}


.apps{
    
    height: 16px;
    width: 16px;
    align-self: center;
    margin-left:25px;
}

.notification{
    width:15px;
    height: 18px;
    margin-left:24px;
    border-radius: 5px;
    align-self: center;
}


.user-account{
    margin-left:24px;
    margin-right: 44px;
    width:48px;
    height: 48px;
    border-radius: 24px;
}


/*______________NAV________________*/


.nav{
    display: flex;
    height: 48px;
    background: #FFFFFF;
}

.nav-container{
    box-shadow: 0px 1px 2px rgba(221, 221, 221, 0.5);

}
.navbar1{
    display: flex;
    justify-content: flex-end;
    width:63%;
    margin-top:15px;
    margin-bottom: 16px;
}

.navbar2{
    display: flex;
    justify-content: flex-end;
    width:37%;
    margin-top:15px;
    margin-bottom: 16px;
}


ul.nav-list1 li, ul.nav-list2 li{ 
    font-family: 'Lato', sans-serif;
    display:inline;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4E4E4E;
}


ul.nav-list1 li{
    margin-right:30px;
}

ul.nav-list1 li.active {
    padding-left: 7px;
    padding-right: 7px;
    margin-left:5px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 5px solid #4285F4;
   
}

ul.nav-list1 li:hover, ul.nav-list2 li:hover {
    border-bottom: 1px solid #4285F4;
}

ul.nav-list2 li:nth-child(2) {
    margin-left:30px;
    margin-right:44px;
  
}


/*______________CONTENT________________*/

.content{
   background: #fcfcfc; 
   padding-top: 44px;
   padding-bottom: 45px;
   width:100%;
}

.layout-center2{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}



/*______________FIRST COLUMN________________*/

.first-column{
    padding-left: 45px;
}

.card{
    width: 320px;
    height: 260px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.138162);
    border-radius: 4px;
    margin-bottom:22px;
    padding: 26px 24px 22px;
    box-sizing: border-box;
    position: relative;
}

.card-header{
    font-family: 'Lato';
    letter-spacing: 0.75px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;  
    padding-bottom: 21px;  
}
.card2{
    margin-bottom:26px;
}

.a{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #4885ED;
    display: inline-block;
    margin-bottom: 8px;
    cursor:pointer;
}

.p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
    color: #212121;
}

.p2{
    font-size: 15px;
    line-height: 23px;
}

.link{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
    color: #39912E;
    margin-left:10px;
    display: inline-block;
    margin-bottom: 8px;
}

.wiki{
    display: inline-block;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
    color: #4E4E4E;
    }

.wiki-position{
    position:absolute; 
	bottom:22px;
    }


.flight {
    background: #4285F4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.138162);
    border-radius: 4px;
    padding: 20px 30px 21px 24px;
    width:320px;
    height:120px;
    box-sizing: border-box;   
}

.flight-hotel-header {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom:14.5px;
}

.pos{
    position: relative;
    top:5px;

}

.bottom-img{
    margin-right:16.08px;
}

.flight-hotel-article{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px; 
    color: #FFFFFF;
}

/*______________MAIN COLUMN________________*/

.main-column{
    margin-left: 24px;
    margin-right: 24px;
}


.amsterdam{
    width:664px;
    height:154px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.138162);
    border-radius: 4px; 
    margin-top:-6px;
    padding:18px 25px 20px 25px;
    box-sizing: border-box;
}

.fig-caption-btns{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    width:214.5px;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.visit,.save,.share{
    position: relative;
    top:3px;
    margin-right:7.5px;
}


.arrow{
    position: relative;
    top:4px;
    left:105.5px;
    height:12px;
    width:12px;
}

.arrow-btn{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom:18px;
    right:21px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    cursor: pointer;
}

.amstardam-inf{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4E4E4E;
    margin-bottom:8px;
}

#close{
    position: absolute;
    top: 17px;
    left:21px;
}

.close1{
    position: relative;
}

.cursor{
    cursor:pointer;
}